<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中小学校园信息管理系统</title>
	</head>
	<link href="CSS/index.css"  rel="stylesheet" type="text/css">
	{include file='globe.php'}
	<style>
	    .layout-north div{ float:left}
	    .homelogo{margin-top: 1px}
	    .homeright{margin-top: 40px;margin-left:48%;font-size: 15px}
	</style>
<div class="easyui-layout" fit='true'>
        <!--上-->
		<div  data-options="region:'north',noheader:true"  class="layout-north"  style="background-color: #3B95C8;height:74px;">
            <div class="homelogo" style="background:url(IMG/homelogo.png) no-repeat;height:71px;width: 280px;"></div>
            <div class="homeright">
              <span id="datetime"></span>&nbsp;&nbsp; 欢迎您:<?php echo session('user_name')?>&nbsp;&nbsp;<a href="javascript:void(0)"  onclick="loginout()">退出系统</a>
            </div>
		</div>
		 <!--左-->
		<div data-options="region:'west',title:'菜单'" iconCls='icon-text-list-bullets' style="width:15%;">
           <div id="menu"></div>
		</div>
		<!--中-->
		<div data-options="region:'center'">
			<div id="" class="easyui-tabs" fit=true style="">
				 <div title="首页" iconCls="icon-house">
                   <p style="padding: 30px">欢迎使用中小学校园管理系统</p>
                 </div>
			</div>
		</div>
		<!--下-->
		<div data-options="region:'south',split:false,border:false"
    		 class="layout-south" style="height: 30px;line-height: 30px;text-align: center;">
			Copyright &copy; 2017-2099校园信息管理系统
		</div>
</div>
<script>  
	var ThinkPHP={
		'ROOT':'HOME'
	}
</script>
<script type="text/javascript" src="JS/index.js"></script>
</body>
</html>



