<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>中小学校园管理系统后台登录</title>
	</head>
	{include file='globe.php'}
	<script type="text/javascript" src="JS/login.js"></script>
	<link href="CSS/login.css" rel="stylesheet" type="text/css">
	
<body style="margin:0px ; padding:0px;background: url('IMG/background.jpg') no-repeat center center fixed;	background-size: cover;">
    <!--登录窗口-->
    <div id="dlg">
        <div class="easyui-layout" fit="true">
            <div region="center" border="false" style="padding: 10px;background: #fff;">
				<form id="ff" method="post" style="margin:0 auto;font-size: 16px;margin-left: 20%;">
					<table cellpadding=5>
						<tr>
							<td>用户名：</td>
							<td><input class="easyui-textbox" type="text" iconCls="icon-man" name="username" data-options="required:true" validType="length[3,16]" missingMessage="用户名不能为空" invalidMessage="用户名必须在3-16位之间" style="width:230px;height: 35px;"></input></td>
						</tr>
						<tr>
							<td>密&nbsp;&nbsp;&nbsp;码：</td>
							<td><input class="easyui-textbox" type="password"   iconCls="icon-lock" name="password" data-options="required:true,validType:'password'" missingMessage="请输入正确的密码，长度在6-16位数之间" invalidMessage="请输入正确的密码，长度在6-16位数之间" style="width:230px;height: 35px;"></td>
						</tr>
						<tr>
							<td>验证码：</td>
							<td>
								<div style="float:left;width:100%;">
									<input class="easyui-textbox" type="text" name="code" id="code" data-options="required:true" missingMessage="请输入验证码" style="width:110px;height:35px;float: left;">
									<img src="{:captcha_src()}" id="codeimg" alt="验证码" title="点击更换验证码" style="width:110px;height:35px;float: right;"/>
								</div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<div style="width:100%;">
									<input type="checkbox"  name='auto' id='auto' checked='1' style="float: left"/><label for="auto" style="min-width:50px;font-size: 12px">记住我，下次自动登录</label>
								</div>
							</td>
						</tr>
					</table>
				</form>
           </div>
        </div>
    </div>	
    
    
    <script type="text/javascript">
		 var ThinkPHP = {
            'img' : 'IMG'
   		};
	</script>
	</body>
</html>